
{%  assign collection = section.settings.collection.products %}

<div class="featured-collection-sec pt-16">
    <div class="container mx-auto">
        <div class="section-header">
            <h1 class="heading"> {{ section.settings.heading }} </h1>
            <p class="sub-heading">
                {% if section.settings.sub_heading != blank  %}  
                    {{ section.settings.sub_heading }}
                {% endif %}
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-5">
            {% for product in collection %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            {{ product.featured_image |  image_url: width: 300 |  image_tag }}
                            <div class="product-info">
                                <h3>{{ product.title }}</h3>
                                <p>Price: {{ product.price |  money }}</p>
                                <div class="cta">
                                    <a href="{{ product.url }}">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                {%  else %}
                {% for item in (1..8) %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                {% capture current %}
                                {% cycle 'product', 'collection', 'image' %}
                                {% endcapture %}
                                {{ current | placeholder_svg_tag }}

                                <div class="product-info">
                                    <h3>Product {{ forloop.index }} </h3>
                                    <p>Price: $24.00</p>
                                    <div class="cta">
                                        <a class="btn" href="{{ product.url }}">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                {% endfor %}            
            {% endfor %}

        </div>

    </div>
</div>

{% schema %}
{
    "name": "Featured collection",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Featured collection"
        },
        {
            "type": "richtext",
            "id": "sub_heading",
            "label": "Sub Heading"
        },
            {
                "type": "collection",
                "id": "collection",
                "label": "Select Collection"
            }
        ],
        "presets": [
            {
                "name": "Featured collection",
                "category": "collection"
            }
        ]
}
{% endschema %}