
{%  assign collection = section.settings.collection.products %}

<div class="featured-collection-sec">
    <div class="container">
        <div class="section-header">
            <h1 class="heading"> {{ section.settings.heading }} </h1>
            <p class="sub-heading">
                {% if section.settings.sub_heading != blank  %}  
                    {{ section.settings.sub_heading }}
                {% endif %}
            </p>
        </div>

        <div class="row">
            {% for product in collection %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            {{ product.featured_image |  image_url: width: 300 |  image_tag }}
                            <div class="product-info">
                                <h3>{{ product.title }}</h3>
                                <p>Price: {{ product.price |  money }}</p>
                                <div class="cta">
                                    <a href="{{ product.url }}">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                {% for item in (1..8) %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                {{ 'product-apparel-' |  append: forloop.index | placeholder_svg_tag: 'placeholder-svg' }}
                                <div class="product-info">
                                    <h3>Product {{ forloop.index }} </h3>
                                    <p>Price: $24.00</p>
                                    <div class="cta">
                                        <a href="{{ product.url }}">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                {% endfor %}            
            {% endfor %}

        </div>

    </div>
</div>

{% schema %}
{
    "name": "Featured collection",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Featured collection"
        },
        {
            "type": "richtext",
            "id": "sub_heading",
            "label": "Sub Heading"
        },
            {
                "type": "collection",
                "id": "collection",
                "label": "Select Collection"
            }
        ],
        "presets": [
            {
                "name": "Featured collection",
                "category": "collection"
            }
        ]
}
{% endschema %}