{{ 'product-template.css' |  asset_url |  stylesheet_tag }}


<div class="product-template-{{ section.id }} pt-16">
    <div class="product-main">
        <div class="container mx-auto">
            <div class="product-row flex justify-between gap-5">
                <div class="product-col flex-1">
                    <div class="product-media">
                        {%  for image  in product.images %} 
                            {{- image | image_url: width: 300 | image_tag }}
                        {% endfor %}
                    </div>
                </div>

                <div class="product-col w-[60%]">
                    {% assign form_id = 'product-form-' |  append: section.id %}

                    {% form 'product', product, id: form_id, class: 'product-form' %}

                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                        
                        {{ form |  payment_terms }}

                        {%  for block in section.blocks %} 
                            {% case block.type %}
                              {% when '@app' %}
                                {% render block %}
                              {% when 'text' %}
                                <p class="">{{ block.settings.text }}</p>
                              {% when 'title' %}
                                <h2 class="product-title">{{ product.title }}</h2>
                              {% when 'price' %}
                                <div class="product-price">
                                    <p>{{ product.price |  money_with_currency }}</p>
                                </div>
                              {% when 'sku' %}
                                <div class="product-sku">
                                    <p>{{ product.sku }}</p>
                                </div>
                              {% when 'description' %}
                                <div class="product-descriptions">
                                    <p>{{ product.description }}</p>
                                </div>
                              {% when 'quantity' %}
                                <div class="product-quantity">
                                    <input type="number" name="quantity" value="1" min="1">
                                </div>

                                {% when 'variants' %}

                                {% when 'buy_buttons' %}
                                    <div class="buy-buttons max-w-[250px]">
                                        <button type="submit" class="btn mb-2" name="add">
                                            Add to cart
                                        </button>
                                        {% if block.settings.enable_dynamic_button %}
                                            {{ form |  payment_button }}
                                        {% endif %}
                                    </div>

                              {% else %}
                                
                            {% endcase %}
                            
                        {% endfor %}

                    {% endform %}
                </div>
                
            </div>
        </div>
    </div>
</div>



{% schema %}
{
    "name": "Product template",
    "class": "product-template",
    "settings": [
        
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "{{ product.text }}"
                }
            ]
        },
        {
            "type": "title",
            "name": "Title"
        },
        {
            "type": "price",
            "name": "Price"
        },
        {
            "type": "sku",
            "name": "Sku"
        },
        {
            "type": "quantity",
            "name": "Quantity",
            "limit": 1
        },
        {
            "type": "variants",
            "name": "Variants",
            "settings": [
                {
                    "type": "select",
                    "id": "variant_type",
                    "label": "Pills",
                    "options": [
                        {
                            "label": "Pills",
                            "value": "pills"
                        },
                        {
                            "label": "Selector",
                            "value": "selector"
                        }
                    ],
                    "default": "pills"
                }
            ]

        },
        {
            "type": "buy_buttons",
            "name": "Buy buttons",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "enable_dynamic_button",
                    "label": "Enable Buy Now",
                    "default": true
                }
            ]
        },
        {
            "type": "description",
            "name": "Description"
        }

    ],
    "presets": [{ "name": "Main product" }]
}
{% endschema %}